[submodule "sensoren-server"]
	path = sensoren-server
	url = ../Sensoren-Server.git
[submodule "broker-service"]
	path = broker-service
	url = ../broker-service.git
[submodule "websocket-service"]
	path = websocket-service
	url = ../websocket-service.git
[submodule "backup-service"]
	path = backup-service
	url = ../backup-service.git
