[submodule "sensoren-server"]
	path = sensoren-server
	url = https://github.com/senifycode/Sensoren-Server.git
[submodule "broker-service"]
	path = broker-service
	url = https://github.com/senifycode/broker-service.git
[submodule "websocket-service"]
	path = websocket-service
	url = https://github.com/senifycode/websocket-service.git
[submodule "backup-service"]
	path = backup-service
	url = https://github.com/senifycode/backup-service.git
